/* Global & reused styles */
:root {
  --app-blue: rgb(0, 111, 185);
  --app-light: rgb(238, 240, 241);
  --app-secondary: #595959;
}

body {
  box-sizing: border-box;
  font-family: Lato;
  margin: 0;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;

  color: white;
  font-weight: 800;
  padding: 0.5rem 2rem;

  background: var(--app-blue);
}

.card {
  text-align: center;
  width: 25vw;
}
.card > .bi {
  font-size: 6rem;
  color: var(--app-blue);
}
.card > h2 {
  font-size: 1.75em;
}
.card > p {
  color: var(--app-secondary);
  font-size: 1.2em;
}
.card > img {
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

/* Header / Navbar */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar {
  background: linear-gradient(var(--app-light) 60%, rgba(238, 240, 241, 0.9));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}
.navbar > span {
  font-size: 1.25rem;
}

.page {
  min-height: 100vh;
}

/* First page */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/img/bg-masthead.jpg");
  background-size: cover;
  padding: 0 2rem;
}
.signup-title {
  font-size: 2.5rem;
  color: white;
}
.button-lg,
.email-input {
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  border: none;
}
.email-input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 30vw;
}
.play-icon {
  position: relative;
  right: 1.5rem;
}

/* Second page - Features summary */
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: var(--app-light);
}
/* Cards used are in the globals section */

/* Third to fifth page - Features in detail */
.feature-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}
.feature-detail-text {
  width: 60%;
  margin: auto;
  font-size: 1.5em;
}
.feature-detail-text > h2 {
  margin-bottom: 0;
}
.feature-detail-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Sixth page - Reviews */
.reviews {
  background: var(--app-light);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-top: 3em;
}
/* Cards used are in globals section */

/* Last page - Form and footer */
.last-page > .signup-form {
  min-height: 70vh;
}

footer {
  display: flex;
  align-items: center;

  height: 30vh;
  padding: 0 2rem;
  background: var(--app-light);
}
.footer-left {
  flex-grow: 1;
}
.dot {
  margin: 0 1rem 0.125rem;
  height: 4px;
  width: 4px;
  background-color: var(--app-blue);
  border-radius: 50%;
  display: inline-block;
}
footer a {
  text-decoration: none;
  color: var(--app-blue);
}
.rigths {
  margin-top: 1rem;
  color: var(--app-secondary);
  font-size: 0.9rem;
}

.social-link {
  font-size: 2rem;
}
.social-link:not(:last-child) {
  margin-right: 1rem;
}

/* Small devices */
@media screen and (max-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
    position: relative;
  }
  .email-input,
  .button-lg {
    width: initial;
  }
  .play-icon {
    position: absolute;
    top: 0.7rem;
    right: 1rem;
  }

  .card {
    width: 100%;
    padding: 2rem;
  }

  /* TODO: feature-detail */
}
